/* Global elements >>> */
* {
    margin: 0;
    padding: 0;
}
#welcome {
    margin-top: -100px;
}

#main-container-step2 {
    display: none;
}
/* <<< Global elements */

/* Header >>> */
.navbar .brand {
    color: #FFFFFF;
    margin: 0 auto;
}

.navbar .subtitle {
    color: #FFFFFF;
    display: block;
    padding: 10px 5px;
}

#header .navbar-inner {
    border-radius: 0;
    background: #249F0B;
}

/* <<< Header */

/* Food groups >>> */
.food-group {
    border: 3px solid #CECECE;
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.food-group-title a img {
    margin-top: -10px;
}

.food-group-item {
    height: 110px;
    width: 110px;
    margin: 5px 10px;
    border: 10px solid #5DC349;
    border-radius: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.food-group-item.removed{
    background: url('../img/cross.png') top right no-repeat;
    border: 10px solid #FF0000;
}

img.food-img {
    height:100px;
    padding: 5px;
}

#print-container {
    text-align: center;
}
/* <<< Food groups */

/* Card >>> */
#options-container {
    float: left;
}
#card-container {
    float: right;
}
.message {
    display: none;
}
#card {
    height: 154px;
    width: 244px;
    border: 2px dashed;
}
#card-content {
    height: 140px;
    width: 244px;
}
#name {
    float: left;
}
#website {
    float: right;
}
/* <<< Card */

/* Footer >>> */
#footer {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 0.8em;
}

#footer .container {
    padding: 20px 0;
}

#footer .navbar-inner {
    border-radius: 0;
    background: #5dc349;
}

#friends p {
    margin: 0;
}
/* <<< Footer */

/* Feedback >>> */
#feedback-tab {
    width: 12px;
    padding: 5px;
    height: 220px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    background: #5dc349;
    position: fixed;
    top: 50px;
    right: 0;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}
#feedback-form-div {
    width: 220px;
    padding: 10px;
    border: 2px solid #000;
    background: #5dc349;
    position: fixed;
    top: 50px;
    right: 0;
    cursor: pointer;
    display: none;
}
/* <<< Feedback */

/* Colors
20C100 light green 
249F0B dark green
7ac16c pale
*/
