/* Global elements >>> */

* {
    margin: 0;
    padding: 0;
}
#welcome {
    margin-top: -100px;
}

#main-container-step2 {
    display: none;
}
a {
    color: #0079cc;
}
/* <<< Global elements */

/* Welcome modal >>> */
.modal-body {
    text-align: center;
}
/* <<< Welcome modal */

/* Header >>> */
.navbar .brand {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 8px 20px;
}

.navbar .subtitle {
    color: #FFFFFF;
    display: block;
    padding: 10px 5px;
}

#header .navbar-inner {
    border-radius: 0;
    background: #28ad00;
}

/* <<< Header */

/* Food groups >>> */
.food-group {
/*
    border: 1px solid #919ebd;
*/
    background: #F6F6F6;
    margin: 0 0 10px 0;
    padding: 10px;
}

.food-group-title a img {
    margin-top: -10px;
}

.food-group-item {
    height: 110px;
    width: 110px;
    margin: 5px 10px;
    border: 10px solid #8df06a;
    border-radius: 10px;
    background: #FFFFFF;
    float: left;
    text-align: center;
    cursor: pointer;
}

.food-group-item.removed{
    background: url('../img/cross2red.png') top right no-repeat;
    border: 10px solid #FF0000;
}

img.food-img {
    height:100px;
    padding: 5px;
}

#print-container {
    text-align: center;
}
/* <<< Food groups */

/* Card >>> */
#options-container {
    float: left;
}
#card-container {
    float: right;
}
#card {
    height: 154px;
    width: 244px;
    border: 2px dashed;
    padding: 4px;
}
#card-content {
    height: 140px;
    width: 244px;
}
.message {
    display: none;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 1px;
    border-bottom: 1px solid gray;
    /* research how to not show border for last item */
}
.food-img-card {
    padding: 2px;
    margin: 2px;
    background: url('../img/cross2.png') top right no-repeat;
    border: 1px solid gray;
}
#name {
    float: left;
}
#website {
    float: right;
}
/* <<< Card */

/* Footer >>> */
#footer {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 0.8em;
}

#footer .container {
    padding: 20px 0;
}

#footer .navbar-inner {
    border-radius: 0;
    background: #3F5229;
}

#friends p {
    margin: 0;
}
/* <<< Footer */

/* Feedback >>> */
#feedback-tab {
    width: 15px;
    padding: 5px;
    height: 100px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    background: url('../img/feedback.png') no-repeat 5px 5px #F9CDAD;
    position: fixed;
    top: 50px;
    right: 0;
    cursor: pointer;
}

#feedback-form-div {
    width: 220px;
    height: 270px;
    padding: 10px;
    border: 2px solid #000;
    background: #F9CDAD;
    position: fixed;
    top: 50px;
    right: 0;
    cursor: pointer;
    display: none;
    border-radius: 10px 0 0 10px;
}

#feedback-close {
    width: 220px;
    font-size: 11px;
    text-align: right;
}
/* <<< Feedback */

/* Colors
20C100 light green 
249F0B dark green
7ac16c pale
*/
